<form asp-action="Login" asp-controller="Account" >
       <div>    
           <p> Логин</p>
           <input  type="text"/>    
       </div>
    <div>
        <p> Пароль</p>
        <input type="text" />
    </div>
        <div >
            <input type="submit" value="Войти" />
        </div>
</form>