
.unity-container { 
    text-align:center;

}

.unity-canvas {
    background: #231F20;
    width: 600px;
    border:none;
    outline:none;
}

.unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}
